@font-face {
	font-family: 'Ananda';
	src: url(ress/Ananda\ Personal\ Use.ttf) format(truetype),
}

*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

hr{
    margin-bottom: 40px;
    opacity: 0.4;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.nav a{
    font-size: 30px;
    text-decoration: none;
    letter-spacing: 0.9px;
    margin-left: 25px;
    color: rgb(24, 24, 24);
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Ananda', sans-serif;
}
a:hover{
    color: rgb(4, 60, 183);
    text-shadow: 0px 9px 20px rgba(0,0,0,0.58);
}

.random-1{
    margin-top: 50px;
    text-align: center;
    font-size: 3.5vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    word-spacing: 1px;
    color: rgb(49, 49, 49);
    opacity: 0.9;
}
.random-2{
    text-align: center;
    font-size: 1.5vw;
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 5px;
    word-spacing: 1px;
    color: rgb(49, 49, 49);
    opacity: 0.9;
}

.price{
    margin-top: 75px;
    display: flex;
    justify-content: center;
    gap: 40px;
    height: 25vw;
}
.price-1{
    background-color: rgba(35, 35, 35, 0.885);
    padding: 20px;
    width: 20%;
    color: white;
    border: none;
    border-radius: 5px;
}
.price-2{
    background-color: rgba(0, 148, 89, 0.864);
    padding: 20px;
    width: 20%;
    color: white;
    border: none;
    border-radius: 5px;
}
.price-3{
    background-color: rgba(255, 204, 0, 0.929);
    padding: 20px;
    width: 20%;
    border: none;
    border-radius: 5px;
}
.price h3{
    font-weight: 100;
    font-size: 2.5vw;
}
.price h4{
    font-weight: 300;
    font-size: 2.5vw;
}
.price p{
    font-weight: 100;

    font-size: 1vw;
    position: relative;
    left: 25%;
    bottom: 8%;
}
.price li{
    font-weight: 100;
    position: relative;
    left: 10%;
    font-size: 1vw;
}

.p1-btn{
    height: 2.5vw;
    width: 100%;
    position:relative;
    top: 23%;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    background-color: transparent;
    cursor: pointer;
}
.p2-btn{
    height: 2.5vw;
    width: 100%;
    position:relative;
    bottom: -12%;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    background-color: transparent;
    cursor: pointer;
}
.p3-btn{
    height: 2.5vw;
    width: 100%;
    position:relative;
    bottom: -12%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    color: rgb(0, 0, 0);
    background-color: transparent;
    cursor: pointer;
}
.p1-p{
    margin-left: -21px;
}

.action{
    margin-top: 75px;
    background-image: url(ress/parallax.jpg);
    height: 200px;
    background-position: fixed;
    background-position-x: center;
    background-position-y: center;
}
.action-1{
    text-align: center;
    color: rgba(255, 255, 255, 0.852);
    font-size: clamp(50px, 4vh, 200px);
    padding: 70px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
}
.form{
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form label{
    position: relative;
    left: 15%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 10px;

}
.form p{
    position: relative;
    left: 15%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 20px;
    font-size: 15px;
    color: rgb(133, 133, 133);
}
#mail{
    height: 40px;
    border: 1px solid rgba(128, 128, 128, 0.641);
    width: 70%;
    position: relative;
    left: 15%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5px;
    border-radius: 5px;
}
#msg{
    height: 120px;
    width: 70%;
    position: relative;
    left: 15%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
    border: 1px solid rgba(128, 128, 128, 0.641);
    border-radius: 5px;
}
.btn-form{
    margin-bottom:100px;
    height: 40px;
    width: 80px;
    position: relative;
    left: 15%;
    border: none;
    border-radius: 5px;
    background-color: rgb(0, 153, 255);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
    cursor: pointer;
}

.footer{
    background-color: rgba(128, 128, 128, 0.173);
    height: 60px;
    text-align: center;
    color: rgba(49, 49, 49, 0.392);
    opacity: 0.9;
    border-top: solid 1px rgba(128, 128, 128, 0.293);
    padding: 20px;
}
.footer-p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}